<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>{% block title %}Home{% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav">


          {% if user.is_authenticated %}

          <a class="nav-item nav-link" id="home" href="/">Home</a>
          <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
          <a class="nav-item nav-link" id="fortune" href="/fortune">Fortune</a>
          {% else%}

          <a class="nav-item nav-link" id="login" href="/login">Login</a>
          <a class="nav-item nav-link" id="signUp" href="/sign-up">Sign Up</a>
          {% endif %}

        </div>
      </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %}

    {% if messages %}

      {% for category, message in messages %}
      {% if category == 'error' %}
        <div class="alert alert-danger alter-dismissable fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times; </span>
          </button>
        </div>
      {% else %}
        <div class="alert alert-success alter-dismissable fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times; </span>
          </button>
        </div>
      {% endif %}

      {% endfor %}

    {% endif %}


    {% endwith %}




    <div class ="container">
        {% block content %}
        {% endblock %}

      <br>
      <br>
      <br>


    </div>






    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

{% block javascript %}
    <script type="text/javascript">
      function deleteNote(noteId) {
  fetch("/delete-note", {
    method: "POST",
    body: JSON.stringify({ noteId: noteId }),
  }).then((_res) => {
    window.location.href = "/";
  });
  }
</script>
{% endblock %}

<!-- Section: Links  -->
  <section class=".bg-body-tertiary" style="background-color: #9FA6B2;">

    <div class="container text-center text-md-start mt-5">
      <br>
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>GorigoriSensei
          </h6>
          <p>
            Hi! I'm OSCP and BSCP (Burp Suite Certified Practitioner) certified, Security Researcher.
          </p>

            <p> I created this web application for anyone who wants to learn Web App Pentesting and/or Secure Coding.
             I hope you enjoy!
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->

        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            links
          </h6>
          <p>

            <a href="https://github.com/gorigorisensei" class="text-reset">github</a>
            <i class="fa fa-github-alt" style="font-size:25px;color:#00695C"></i>
          </p>
          <p>
            <a href="http://gorigorisensei.com" class="text-reset">Portfolio Website</a>
            <i class="	fa fa-user-circle-o" style="font-size:25px;color:#1565C0

"></i>
          </p>
          <p>
            <a href="https://www.linkedin.com/in/toru-hirosawa-26b575b7/" class="text-reset">Linkedin</a>
            <i class="fa fa-linkedin-square" style="font-size:25px;color:#0077B5"></i>

          </p>
          <p>
            <a href="https://www.youtube.com/channel/UC0pMCeGEFMUnExdl-3uftTg" class="text-reset">Youtube</a>
            <i class="fa fa-youtube" style="font-size:25px;color:#B71C1C"></i>
          </p>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <div style="text-align: center;">
          <img src="/static/gori.jpg" width="150" height="200" style="border-radius: 100%;" >
        </div>

        </div>


        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>

  </body>


  <!-- Section: Links  -->
<footer style="margin: 0 0 -50px 0;">
  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2023 Copyright:
    <a class="text-reset fw-bold" href="https://gorigorisensei.com">Gorigorisensei</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
</html>