{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}

<h2>Current User: {{user.first_name}} </h2>
<h1 align="center">Notes</h1>
<ul class="list-group list-group-flush" id="notes">
    {% for row in rows %}

    {{ row|safe }}

    {% endfor %}
</ul>
<form method="POST">
  <textarea name="note" id="note" class="form-control"></textarea>
  <br />
  <div align="center">

    <button type="submit" class="btn btn-primary">Add Note</button>
  </div>
</form>

<br>
<br>
<br>
<br>
<br>

<div class="card">
  <div class="card-header">
    Update your Email Address
  </div>
  <div class="card-body">
    <form action="/change_email" method="post">
  <!-- ... -->
    <h2>Enter a new email address below:</h2>
      <p>Your Current Email Address is {{ user.email }}</p>
    <input class="form-control" id="email" name="email" placeholder="email"/>
    <input type="hidden" name="anti_csrf_token" value="{{anti_csrf_token}}">
    <br>
    <button type="submit" class="btn btn-danger">Change my email address!</button>
</form>
  </div>
</div>


{% endblock %}