{% extends "base.html" %}
{% block title %}login{% endblock %}
{% block content %}
 <br>
<br>

  <h3 align="center">Login!</h3>
  <form method="POST">
  <div class="form-group">
       <label for="email">Email Address</label>
       <input class="form-control" id="email" name="email" placeholder="email"/>

  </div>

  <div class="form-group">
       <label for="password">Password</label>
       <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password"/>

  </div>

  <br>
  <button type=submit" class="btn btn-primary">Login</button>

      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

      <div class="card">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">Cat Image Finder</h5>
    <p class="card-text">This feature may introduce a critical vulnerability...oh well.</p>
     <a class="btn btn-success" href="/find_secret" role="button">Cat Image Finder</a>
  </div>
</div>

      <br>
      <br>


      <div class="card">
  <div class="card-header">
    127.0.0.1
  </div>
  <div class="card-body">
    <h5 class="card-title">Ping!</h5>
    <p class="card-text">You can ping someone with this.</p>
     <a class="btn btn-success" href="/ping" role="button">ping ping ping!</a>
  </div>
</div>
      <br>
      <br>
      <br>


      <div class="card">
  <div class="card-header">
    Let's head to an adventure!
  </div>
  <div class="card-body">
    <h5 class="card-title">Pick Your Buddy's name! </h5>
     <a class="btn btn-info" href="/pickPartner" role="button">Are you ready?</a>
  </div>
</div>

      <br>
      <br>
      <br>


<div class="card">
  <div class="card-header">
    XML checker!
  </div>
  <div class="card-body">
    <h5 class="card-title">You can check if your XML is valid here:</h5>
     <p>Send a POST request containing an XML file to /is_xml endpoint with the key: xml.</p>
  </div>
</div>








 </form>

{% endblock %}