{% extends "base.html" %}
{% block title %}login{% endblock %}
{% block content %}
 <br>
<br>

  <h3 align="center">Login!</h3>
  <form method="POST">
  <div class="form-group">
       <label for="email">Email Address</label>
       <input class="form-control" id="email" name="email" placeholder="email"/>

  </div>

  <div class="form-group">
       <label for="password">Password</label>
       <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password"/>

  </div>

  <br>
  <button type=submit" class="btn btn-primary">Login</button>

      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

      <div class="card">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">Cat Image Finder</h5>
    <p class="card-text">This feature may introduce a critical vulnerability...oh well.</p>
     <a class="btn btn-success" href="/find_secret" role="button">Cat Image Finder</a>
  </div>
</div>

      <br>
      <br>
      <br>
      <br>
      <br>












 </form>
{% endblock %}